<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Ranki</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <% @menu.each_pair do |name, link| %>
            <%= link_to name, link, class: "nav-link" + current_kls?(link) %>
        <% end %>
        <% if current_user %>
    			<%= link_to 'Setting', edit_setting_path(current_user.setting), class: 'nav-link' %>
        	<%= button_to 'Logout', destroy_user_session_path, method: 'delete', class:'nav-link', data:{turbo_method: 'delete'}%>
        <% end %>
      </div>
    </div>
  </div>
</nav>