<div id="<%= dom_id setting %>">
  <p>
    <strong>Openai key:</strong>
    <%= setting.openai_key %>
  </p>

  <p>
    <strong>Openai proxy:</strong>
    <%= setting.openai_proxy %>
  </p>

  <p>
    <strong>User:</strong>
    <%= setting.user_id %>
  </p>

</div>
