<div class="row my-4">
  <div class="col-md-8">
    <p class="text text-success"><%= notice %></p>
    <h3 class="my-4">Editing setting</h3>
    <%= render "form", setting: @setting %>
  </div>
</div>

