<h3>New story</h3>

<p class="text text-secondary">Random select some words and generate a story via AI</p>

<%= render "form", story: @story %>

<div class="my-4">
  <%= link_to "Back to stories", stories_path%>
</div>
