<div class="card my-4">
  <div class="card-body">
    <h5 class="card-title"><%= card.front%></h5>
    <h6 class="card-subtitle mb-2 text-body-secondary"><%= card.deck.name %></h6>
    <article class="card-text">
      <%= to_md(card.back)%>
    </article>
    <a href="#" class="card-link">Next</a>
    <a href="#" class="card-link">Learned</a>
  </div>
</div>
