<div class="w-75 mx-auto">
  <div class="row">
    <div class="col">
      <h3 class="my-4">Cards</h3 class="my-4">
    </div>
    <div class="col">
      <%= link_to "New card", new_card_path, class: 'btn btn-outline-primary my-4' %>
    </div>
  </div>
  <%= render(partial: 'list', locals: {cards: @cards, pagy: @pagy})%>

</div>

