<section data-controller="card">
	<div class="my-2">
		<p data-card-target="source"><%= @prompt %></p>
	</div>
	<p class="text text-success" data-card-target="msg"></p>
	<div class="mb-2 row">
		<div class="col">
			<%== back_link %>
		</div>
		<div class="col">
			<%= link_to 'Random', random_cards_path, class: 'btn btn-outline-success'%>
		</div>
		<div class="col">
			<button class="btn btn-outline-primary" data-action="card#copy">Copy to Clipboard</button>
		</div>
	</div>

</section>