<table class="table">
	<thead>
		<th>Name</th>
		<th>Cards Count</th>
	</thead>
	<tbody>
		<% decks.each do |deck|%>
			<tr>
				<td><%= link_to deck.name, deck_path(deck)%></td>
				<td><%= deck.cards.count %></td>
			</tr>
		<% end #each %>
	</tbody>
</table>