<div id="<%= dom_id import_record %>">
  <p>
    <strong>Csv:</strong>
    <%= import_record.csv %>
  </p>

  <p>
    <strong>User:</strong>
    <%= import_record.user_id %>
  </p>

  <p>
    <strong>Success:</strong>
    <%= import_record.success %>
  </p>

</div>
