<h1>Editing import record</h1>

<%= render "form", import_record: @import_record %>

<br>

<div>
  <%= link_to "Show this import record", @import_record %> |
  <%= link_to "Back to import records", import_records_path %>
</div>
