<p style="color: green"><%= notice %></p>

<h1>Ai prompts</h1>

<div id="ai_prompts">
  <% @ai_prompts.each do |ai_prompt| %>
    <%= render ai_prompt %>
    <p>
      <%= link_to "Show this ai prompt", ai_prompt %>
    </p>
  <% end %>
</div>

<%= link_to "New ai prompt", new_ai_prompt_path %>
